*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

header {
    padding: 20px 35px;
    background-color: midnightblue;
    justify-content: space-between;

  

}

header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px black;
}


header a {
    text-decoration: none;
    color: white;

}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    list-style: none;
    float: right;
    margin-top: -50px;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 0 10px black;
}


.hero {
    padding: 80px;
    background-image: url(./images/nyc-hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-attachment: center;
    background-position: 80%;
}

.hero h2 {
    padding: 20px;
    background-color: midnightblue;
    color: white;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

body p {
    display: flex;
    font-weight: bold;
    justify-content: right;
    
}

.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me h2 {
    font-size: 36px;
    margin: 50px;
}

.about-me p {
    font-size: 18px;
    margin: 50px auto 0 auto;
}

.work h2 {
    font-size: 36px;
    margin: 50px;
}

.run-buddy {
    color: black;
    font-size: 30px;
}

.run-buddy img {
    width: 20%;
}

.contact-me{
    display: flex;
    justify-content: space-between;
}

.contact-me h2 {
    font-size: 36px;
    margin: 50px;
}

.contact-me a {
    text-decoration: none;
    margin-right: 5px;
}

.contact-me p {
    margin: 50px auto 0 auto;
    justify-content: space-evenly;
}